<p id="notice"><%= notice %></p>

<h1>Bookmarks</h1>

<div id ="form_bookmark">
  <%= render  "form", bookmark: @bookmark %>
</div>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th>Category</th>
      <th>Tipo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id = "bookmarks">
    <%= render  "bookmarks" %>
  </tbody>
</table>

<br>


<h1>Bookmarks por categoría</h1>
<%= pie_chart Bookmark.joins(:category).group("categories.title").count %>


<h1>Bookmarks por tipo</h1>
<%= pie_chart Bookmark.joins(:subject).group("subjects.name").count %>